.Navigation {
  display: flex;
  gap: 25px;
  padding: 3px;

  & a {
    font-size: 12px;
    font-weight: 700;
    color: #e5e5e5;
    line-height: 14px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-color: #d4a373;
    }
  }
}
