.Hero {
  height: 100vh;
  overflow: hidden;
}

.SlidePost {
  position: relative;
  z-index: 20;
  width: 100vw !important;
  height: 100vh;
  display: flex !important;

  flex-direction: column;
  justify-content: center;
  
  
  &__title {
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    max-width: 530px;
    margin-bottom: 13px;
   
    
  }
  &__subtitle {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400px;
    max-width: 530px;
    margin-bottom: -193px;
    
  }
  & img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
